.bar {
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

.l-10 {
    animation-delay: 1.56s;
}

.load-10 .bar {
    animation: loadingJ 2s cubic-bezier(.17, .37, .43, .67) infinite;
}

@keyframes loadingJ {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(300px, 0);
        background-color: #f5634a;
        width: 10px;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

.main-color {
    color: #fcb2bf !important
}

.second-color {
    font-size: 1.25em;
    color: #7e0cf5 !important;
    font-weight: bolder;
}

.page-title {
    padding-top: 100px;
}

.list-style-four li,
.list-style-four li:before {
    color: #00adb5;
}

@media only screen and (max-width: 1023px) {
    .page-title {
        padding-top: 1em;
    }
}

.login-section {
    padding: 0;
}

x-sign:nth-of-type(1) {
    color: #47aeb5;
    --color1: #47aeb5;
    --color2: #47aeb5;
    --color3: #47aeb5;
    --color4: #47aeb5;
    font-family: Gruppo;
}

.li1 {
    box-sizing: border-box;
    width: 20em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
}

.li1:nth-child(odd) {
    background: linear-gradient(to right, #ed6286, #ed6286);
    text-align: left;
    padding-left: 6%;
    transform: perspective(500px) rotateY(45deg);
}

.li1:nth-child(even) {
    background: linear-gradient(to left, #3ba1b7, #3ba1b7);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

.li1:nth-child(odd):hover {
    transform: perspective(400px) rotateY(50deg);
    padding-left: 2%;
}

.li1:nth-child(even):hover {
    transform: perspective(400px) rotateY(-50deg);
    padding-right: 2%;
}