@media all and (max-width: 980px){
 .mb-3{
    font-size: 15px !important;
 }
}

@media all and (max-width: 780px){
 .mb-3{
    font-size: 14px !important;
 }
}
@media all and (max-width: 580px){
 .mb-3{
    font-size: 13px !important;
 }
}
@media all and (max-width: 380px){
 .mb-3{
    font-size: 12px !important;
 }
}