/* @import url("../../globalStyles.css"); */

.container{
    margin: 15px;
}
.heading{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    font-size: 35 !important;
}

.text{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    font-size: 25 !important;
}

.body{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
    font-size: 13 !important;
}

.gradient{
    background: linear-gradient(225deg, rgba(151, 108, 243, 1), rgba(49, 79, 219, 1)) !important;
}

.gradient-text{
    background: linear-gradient(225deg, rgba(151, 108, 243, 1), rgba(49, 79, 219, 1)) !important;
    background-clip: text !important;
    color: transparent !important;
}

.white{
    color: #FAF7F2 !important;
}

.background-white{
    background-color: #FAF7F2 !important;
}

.green{
    color: #04BC81 !important;
}

.background-{
    background-color: #04BC81 !important;
}

.yellow{
    color: #EDD504 !important;
}

.background-yellow{
    background-color: #EDD504 !important;
}

.black{
    color: #0E141B !important;
}

.background-black{
    background-color: #0E141B !important;
}

.blue{
    color: #4A64D7 !important;
}

.background-blue{
    background-color: #4A64D7 !important;
}

.violet{
    color: #976CF3 !important;
}

.bcolor{
    color: #0e141b !important;
}

.background-violet{
    background-color: #976CF3 !important;
}

.dark-text{
    color: #565656 !important;
}

.a{
    text-decoration: none !important;
}

.link{
    cursor: pointer !important;
}