.back{
    background-image:url("./Itachi.jpg");
    filter: grayscale(60%);
    background-size:120%;
    position: absolute !important;
    height: 100%;
    width: 100%;
    animation: translate 6s ease infinite;
}
@keyframes translate {
    0%{
        background-position: 40% 40%;
    }
    50%{
        background-position:80% 30%;
    }
    100%{
        background-position:40% 40%;
    }
}