 .bar {
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
  }

  .l-10 {
    animation-delay: 1.56s;
  }

  .load-10 .bar {
    animation: loadingJ 2s cubic-bezier(.17, .37, .43, .67) infinite;
  }

  @keyframes loadingJ {

    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(300px, 0);
      background-color: #f5634a;
      width: 10px;
    }
  }

  x-sign:nth-of-type(1) {
    color: #f20487;
    --color1: #f20487;
    --color2: #f20487;
    --color3: #f20487;
    --color4: #f20487;
    font-family: Gruppo;
  }




  @media all and (max-width: 425px) {
  /* #bg-img{
    max-height: 150px;
    width: auto;
  } */
  #logo{
    max-height: 45px;
    width: auto;
  }
  
}