@import url('../../globalStyles.css');

.center-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elements{
    margin: 5px;
    padding: 10px;
}